@page "/structure/assign-keeper/{groupid?}"
@model AssignKeeperModel
@{
    ViewData["Title"] = "Assign keeper";
}

<div class="container">
  <h1>@ViewData["Title"]</h1>
  <form method="post">
    <input type="hidden" name="GroupId" value="@Model.GroupId">
    <div class="form-group col-md-4">
      <label for="Name">Group name</label>
      <input type="text" class="form-control" name="Name" value="@Model.GroupName" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="KeeperId">Keeper</label>
        <select class="form-select" name="KeeperId">
@foreach (var keeper in @Model.Keepers)
{
        <option value="@keeper.Id">@keeper.Name</option>
}
        </select>
    </div>
    <div class="form-group col-md-4">
      <label for="AssignDate">Assign date</label>
      <input type="date" class="form-control" name="AssignDate" value="@Model.AssignDate">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Assign</button>
    </div>
  </form>
</div>
