@page "/people/designate-keeper/{id?}"
@model DesignateKeeperModel
@{
    ViewData["Title"] = "Designate as keeper";
}

<div class="container">
  <h1>@ViewData["Title"]</h1>
@if (Model.HasErrorMessage)
{
  <div class="alert alert-danger" role="alert">
    @Model.ErrorMessage
  </div>
}
  <form method="post">
    <input type="hidden" name="MemberId" value="@Model.MemberId">
    <div class="form-group col-md-4">
      <label for="Name">Name</label>
      <input type="text" class="form-control" name="Name" value="@Model.Name" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="DesignateDate">Designate date</label>
      <input type="date" class="form-control" name="DesignateDate" value="@Model.DesignateDate">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Designate</button>
    </div>
  </form>
</div>
