@page "/people/member-list"
@model MemberListModel
@{
    ViewData["Title"] = "Member list";
}

<div class="container">
  <h1>@ViewData["Title"]</h1>
  <div class="col-auto">
    <a asp-area="People" asp-page="RegisterMember" class="btn btn-primary mb-3">Register</a>
  </div>

@if (@Model.Items.Count == 0)
{
  <div class="alert alert-primary" role="alert">
    There is no member on the list. Maybe <a class="alert-link" asp-area="People" asp-page="RegisterMember">register</a> someone?
  </div>
}
else
{
  <ul class="list-group">
  @foreach (var item in @Model.Items)
  {
    <li class="list-group-item">
      <a asp-area="People" asp-page="MemberDetails" asp-route-id="@item.Id">@item.Name</a>
    </li>
  }
  </ul>
  <div class="row">
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirstPage? "disabled":"")">
            <a asp-page="/." asp-route-CurrentPage="1" class="page-link"><i class="bi bi-skip-backward"></i></a>
        </li>

        <li class="page-item @(!Model.ShowPreviousPage? "disabled":"")">
            <a asp-page="/." asp-route-CurrentPage="@(Model.PageNumber -1)" class="page-link"><i class="bi bi-backward"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowNextPage? "disabled":"")">
            <a asp-page="/." asp-route-CurrentPage="@(Model.PageNumber + 1)" class="page-link"><i class="bi bi-forward"></i></a>
        </li>

        <li class="page-item  @(!Model.ShowLastPage? "disabled":"")">
            <a asp-page="/." asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="bi bi-fast-forward"></i></a>
        </li>
    </ul>
  </div>
}
</div>
